/**
 * /*
 * Portfolio
 *
 * @format
 */

.mi-portfolio {
  transition: $transition;
  visibility: hidden;
  opacity: 0;

  &-image {
    display: block;
    position: relative;

    &:hover  {
      &::before {
        transform: scaleX(1);
      }  

    ul {
      visibility: visible;
      opacity: 1;
      margin-top: 0;
    }
  }

    

    &::before {
      content: '';
      font-size: 90px;
      padding: 20px;
      position: absolute;
      left: 15px;
      top: 15px;
      height: calc(100% - 30px);
      width: calc(100% - 30px);
      background: rgba(#ffffff, 0.9);
      transition: $transition;
      transform: scaleX(0);
      transform-origin: 0;
    }


    img {
      width: 100%;
    }

    ul {
      margin-bottom: 0;
      padding-left: 0;
      position: absolute;
      left: 0;
      top: 50%;
      text-align: center;
      width: 100%;
      transform: translateY(-50%);
      visibility: hidden;
      opacity: 0;
      margin-top: 30px;
      transition: all 0.4s ease-in-out 0.2s;

      h3 {
        color: $color-bg-body;
        cursor: pointer;
        font-weight: 600;
        transition: .3s;

        &:hover {
          color: $color-theme;
        }
      }

      li {
        list-style: none;
        display: inline-block;
        margin: 0 7px;
      }
    }
  }

  h5 {
    color: $color-heading;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 700;

    a {
      color: #ffffff;
      transition: $transition;

      &:hover {
        color: $color-theme;
      }
    }
  }

  h6 {
    color: $color-body;
    margin-bottom: 0;
  }

  // &:hover &-image {
  //   &::before {
  //     transform: scaleX(1);
  //   }

  //   ul {
  //     visibility: visible;
  //     opacity: 1;
  //     margin-top: 0;
  //   }
  // }

  &.mi-portfolio-visible {
    visibility: visible;
    opacity: 1;
  }
}
